/* setups the main grid for website*/
.baseGrid {
    display: grid;
    grid-template-rows: repeat(40, 1fr);
    grid-template-columns: repeat(40, 1fr);
    background: rgb(46, 77, 112);
    position: absolute;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: rgb(228, 228, 228);
  }

  /* defines areas within grid */
  .websiteTitle {
    grid-row: 1/3;
    grid-column: 1/5;
    text-align: center;
    background-image: url(logo.png);
    min-width: 150px;
    max-width: 200px;
  }

  /*      SEARCHBAR THINGS          */
  .searchBar {
    grid-row: 1/3;
    grid-column: 5/41;
    text-align: center;
    background-color: rgb(46, 77, 112);
    width: auto;
    height: auto;
  }

    input {
        padding: 10px;
        margin-top: 8px;
        font-size: 20px;
        border: solid 1px black;
        width: 80%;
    }

    button {
        padding: 10px;
        margin-top: 8px;
        font-size: 20px;
        border: none;
        background: rgb(196, 196, 223)
    }

    button:hover{
        background: rgb(168, 168, 201)
    }

  /*      END OF SEARCHBAR THINGS           */

  .home {
    grid-row: 1/3;
    grid-column: 38/41;
    text-align: center;
    font-size: 30px;
    background: rgb(113, 126, 184);
  }

  .home:hover {
    background: rgb(92, 105, 158);
  }

  .navmain {
    grid-row: 3/4;
    grid-column: 1/41;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
  }

  .main {
    grid-row: 4/41;
    grid-column: 1/41;
    text-align: center;
    background-image: url(weather.jpg);
  }

  /* removes white border around website */
  body,
  html {
    margin: 0px;
    padding: 0px;
  }

  .navbar {
    display: flex;
    background: rgb(22, 18, 61);
    flex-direction: row;
    justify-content: space-around;
    height: 38px;
  }

  .navigation {
    display: flex;
    background: rgb(22, 18, 61);
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    width: auto;
    height: 35px;
  }

  .navigation:hover {
    border-bottom: 3px solid azure;
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  h1 {
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    background: rgb(7, 7, 77);
  }

  .crop {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
    top: 16px;
  }

  iframe {
    width: 97%;
    height: 1000px;
    position: relative;
    top: -66px;
  }

  .iframearea {
    width: 100%;
    background: black;
  }

  select {
    height: 62px;
    background: rgb(208, 208, 218);
  }

