/* setups the main grid for website*/
.baseGrid {
    display: grid;
    grid-template-rows: repeat(40, 1fr);
    grid-template-columns: repeat(40, 1fr);
    background: rgb(46, 77, 112);
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: rgb(228, 228, 228);
  }

  /* defines areas within grid */
  .websiteTitle {
    grid-row: 1/3;
    grid-column: 1/5;
    text-align: center;
    background-image: url(logo.png);
    min-width: 150px;
    max-width: 200px;
  }

  /*      SEARCHBAR THINGS          */
  .searchBar {
    grid-row: 1/3;
    grid-column: 5/41;
    text-align: center;
    background-color: rgb(46, 77, 112);
    width: auto;
  }

  input {
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    border: solid 1px black;
    width: 80%;
}

button {
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    background: rgb(196, 196, 223)
}

button:hover{
    background: rgb(168, 168, 201)
}

  /*      END OF SEARCHBAR THINGS           */

   .navmain {
    grid-row: 3/4;
    grid-column: 1/41;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
  }

  .main {
    grid-row: 4/41;
    grid-column: 1/41;
    text-align: center;
    height: auto;
    background: rgb(46, 77, 112);
  }

  /* removes white border around website */
  body,
  html {
    margin: 0px;
    padding: 0px;
  }

  .navbar {
    display: flex;
    background: rgb(22, 18, 61);
    flex-direction: row;
    justify-content: space-around;
    height: 38px;
  }

  .navigation {
    display: flex;
    background: rgb(22, 18, 61);
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    width: auto;
    height: 35px;
  }

  .navigation:hover {
    border-bottom: 3px solid azure;
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  h1 {
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    background: rgb(7, 7, 77);
  }
  
  table {
    width: 100%;
    height: 250px;
    /*background-image: url(rain.jpg); Good idea for using weather images... apply through style js */
    border: solid black 5px;
    border-collapse: collapse;
  }

  tr {
    background: rgb(42, 27, 99);
  }

  td {
    font-size: 50px;
    border: solid black 5px;
  }

  .weatherimage {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
  }

  .tabletitle {
    font-size: 40px;
    background: rgb(11, 2, 53);
  }